@model CleverIgreja.Models.Financeiro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Financeiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtLanc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtLanc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtVenc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtVenc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtPagto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtPagto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCompetencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCompetencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimentacaoFinanceira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimentacaoFinanceira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParceiroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParceiroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parceiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Historico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Historico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Juros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Juros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moeda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moeda.MoedaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FinanceiroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
